.container {
  margin-bottom: 80px;
  max-width: 820px;
  width: 100%;
  padding: 0;
}

.intro {
  max-width:72%;

  .intro-title {
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.2;
    font-weight: 600;
    color:$default-color;
    letter-spacing: 0.06rem;
  }

  .intro-main {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    color: $default-shade;
  }
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 820px;
  width: 90%;
}

.nav {
  overflow: auto;

  &-container {
    margin: 30px auto;
    position: relative;
    text-align: center;
  }

  &-title {
    /*@include transition(all .2s ease-out);*/
    color: $default-color;
    display: inline-block;
    margin: 0;
    width: 80px;
    height: 84px;
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    /*@include transition(all .2s ease-out);*/
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }

}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 35px;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  font-family: $sans-serif;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-tint;
    font-size: 0.92rem;
  }
}
