.featured-project {
  margin-bottom: 80px;

  img {
    margin-bottom: 20px;
  }

  .list-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $default-color;
    margin: 5px 0;
    letter-spacing: 0.04rem;
  }

  .list-summary {
    font-size: 1.1rem;
    color: $grey-1;
    margin: 0;
  }

}
