<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <img class="nav-title" src="/imgs/common/logo@2x.png"/>
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">Work</a></li>
          <li><a href="{{ '/fun' | prepend: site.baseurl }}">Fun</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
          <li><a href="https://drive.google.com/file/d/14JkdwIr0I5-ymYTNpGadHqwBxZlZSnvj/view?usp=sharing" target="_blank">Resume</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        © Designed & Coded by Menghan Zhang
      </span>
    </footer>
   </body>
  </html>
