---
layout: default
---

<div class="container">
  <div class="intro">
    <p class="intro-title">Hi, I'm Menghan.</p>
    <p class="intro-main">I am a master student at Carnegie Mellon University. Previously, I was a product designer at <a href="https://www.zhihu.com">Zhihu</a>. When I'm not designing, I recharge myself by reading or cooking.</p>
  </div>
</div>

<div class="container">
  {% for post in paginator.posts %}
  <div class="projects">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <div class="featured-project">
        <img src="{{ post.feature-img }}">
        <p class="list-title">{{ post.title }}</p>
        <p class="list-summary">{{ post.summary }}</span>
      </div>
    </a>
  </div>
  {% endfor %}
</div>


<!--
<div class="container">
  <div class="sideprojects">
    <h2 class="subsection">Passion Projects</h2>
    <a href="http://instagram.com">
      <div class="featured-sideproject" style="background-color:gray">
        <h2>
          <span>Foodie Doodle</span>
        </h2>
      </div>
    </a>
    <a href="http://instagram.com">
      <div class="featured-sideproject" style="background-color:blue">
        <h2>
          <span>3D World</span>
        </h2>
      </div>
    </a>
  </div>
</div>


<div class="container">
  <div class="articles">
    <h2 class="subsection">Writings on design</h2>
    <a href="http://medium.com">
      <div class="featured-article">
        <h2>
          <span>Article 1</span>
        </h2>
        <p>this is a short introduction to the full article</p>
      </div>
    </a>
    <a href="http://medium.com">
      <div class="featured-article">
        <h2>
          <span>Article 2</span>
        </h2>
        <p>this is a short introduction to the full article</p>
      </div>
    </a>
  </div>
</div>
-->
